extends layout

block content
  h1= "MOVIE DIRECTOR API"
  table(cellspacing='3' bgcolor='#000000')
  tr(bgcolor='#ffffff')
    th Routa
    th HTTP Verb
    th POST body
    th Description
  tr(bgcolor='#ffffff')
    td /api/movie/list
    td GET
    td Empty
    td List all movies.
  tr(bgcolor='#ffffff')
    td /api/movie/add
    td POST
    td
      | {title:foo,category:bar,country:Turkey, year:1990, director:id, imdb_score: 9.7 }
    td List all movies.
  tr(bgcolor='#ffffff')
    td /api/movie/get/:movie_id
    td GET
    td Empty
    td Get a movie.
    h2= "NOT BENGISUYU COK SEVIYORUM"
